name: Build 360cam

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Install Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.12

      - name: Build with Gradle
        run: gradle build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: cam360-jar
          path: build/libs/*.jar
